.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #0fcc2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}